  .browse-games-container .browse-games-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .browse-games-container .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
  }

  .card {
    width: 100%; /* Ensure each card spans the width of the container */
    max-width: 400px; /* Optional: Set a maximum width for larger screens */
    margin: 0 auto; /* Center the card horizontally if max-width is smaller than the screen */
  }
  
  .browse-games-container .language-selector {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 1rem;
  }
  
  .browse-games-container {
    text-align: center;
    padding: 0px;
    color: #333; /* Default text color */
    font-family: Arial, sans-serif;
  }
  
  .property-filter-container {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
  }
  
  .pagination-container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
  }
  
  .browse-games-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
  
  .browse-games-container .form-section {
    margin: 20px auto;
    text-align: center;
  }
  
  .browse-games-container .form-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .browse-games-container .form-input {
    padding: 5px;
    font-size: 1rem;
  }  
  