  .browse-games-container .browse-games-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .browse-games-container .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
  }

  .card {
    width: 100%; /* Ensure each card spans the width of the container */
    max-width: 400px; /* Optional: Set a maximum width for larger screens */
    margin: 0 auto; /* Center the card horizontally if max-width is smaller than the screen */
  }
  
  .browse-games-container .language-selector {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 1rem;
  }
  
  .browse-games-container {
    text-align: center;
    padding: 0px;
    color: #333; /* Default text color */
    font-family: Arial, sans-serif;
  }

  /* Sorting Container */
  .sorting-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center; /* Center align with the rest of the content */
  }

  .sorting-container label {
    font-weight: bold;
    color: #e7e6e6;
  }

  .sorting-container select {
    background-color: #fff;
    color: #333;
    border: 2px solid #808080;
    padding: 0.3rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }

  .sorting-container select:focus {
    outline: none;
    border-color: #0073e6; /* Highlighted border for focus */
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5); /* Subtle shadow for focus */
  }
  
  .property-filter-container {
    margin: 20px auto;
    padding: 6px;
    width: 80%;
    max-width: 400px;
  }

  /* Center both PropertyFilter and Pagination */
  .styled-filter,
  .styled-pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  /* Change the font color */
  .awsui_root_fvjdu_nfftc_145,
  .awsui_page-number_fvjdu_nfftc_229,
  .awsui_arrow_fvjdu_nfftc_219 {
    color: #d8d9da !important; 
    font-size: 1.2rem;
  }

  .awsui_button-current_fvjdu_nfftc_235 {
    color: rgb(254, 254, 254) !important;
    background-color: #09478e !important; /* Make the current page stand out */
    font-size: 1.3rem;
  }
  
  .pagination-container {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
  }

  .pagination-container ul {
    display: flex;
    justify-content: center;
  }
  
  .pagination-container li {
    margin: 0px;
  }
  
  .pagination-container button {
    background-color: #f8f9fa;
    color: #0056b3;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .pagination-container button.current {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
  }
  
  .pagination-container button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .browse-games-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
  
  .browse-games-container .form-section {
    margin: 20px auto;
    text-align: center;
  }
  
  .browse-games-container .form-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .browse-games-container .form-input {
    padding: 5px;
    font-size: 1rem;
  }  

  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .sorting-container {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
