/* Button menu styles */
.button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Spacing between buttons */
    margin-top: 10px;
  }
  
.button-menu button {
  background-color: #1586dd; 
  color: white;
  padding: 0.75rem 1.5rem;
  border: solid;
  border-radius: 40px;
  border-color: #061f32;
  font-size: 1rem;
  cursor: pointer;
  width: 200%; /* Full-width buttons on mobile */
  max-width: 240px; /* Limit width on larger screens */
  text-align: center;
  margin: 8px;
  transition: all 0.3s;
}

.button-menu button:hover {
  background-color: #0c65a9; 
  transform: scale(1.05);
}

  /* Individual button styles */
.button-menu .play-today {
  background-color: #1586dd; 
}

.button-menu .play-today:hover {
  background-color: #0c65a9;
}

.button-menu .archive {
  background-color: #1586dd; 
}

.button-menu .archive:hover {
  background-color: #0c65a9;
}

.button-menu .browse-games {
  background-color: #1586dd; 
}

.button-menu .browse-games:hover {
  background-color: #0c65a9;
}

.button-menu .random-game {
  background-color: #1586dd; 
}

.button-menu .random-game:hover {
  background-color: #0c65a9;
}

.button-menu .custom-game {
  background-color: #335ec2; 
}

.button-menu .custom-game:hover {
  background-color: #254aa1;
}

.button-menu .random-game-generator {
  background-color: #335ec2; 
}

.button-menu .random-game-generator:hover {
  background-color: #254aa1;
}
