.footer {
    text-align: center;
    padding: 1rem;
    background-color: #282c34;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #4caf50; /* Green link color */
    text-decoration: none; /* Remove underline */
  }
  
  footer a:hover {
    color: #81c784; 
    text-decoration: underline; /* Add underline on hover */
  }