/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Push the footer to the bottom if content is small */
  }

footer a {
    color: #61c365; /* Green link color */
    text-decoration: none; /* Remove underline */
  }
  
  footer a:hover {
    color: #81c784; 
    text-decoration: underline; /* Add underline on hover */
  }

  .cookie-warning {
    margin-top: 5px;
    font-size: 0.9em;
    color: #719e78;
  }