header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  /* Reduced padding */
  margin-top: 0px;

  /* Flexbox for centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.2rem 0;
  /* Reduced top and bottom margin */
}

h2,
h3 {
  margin: 0.2rem 0;
  /* Reduced top and bottom margin for headings */
}

.language-selector-row {
  display: flex;
  /* Make items in this row horizontally aligned */
  align-items: center;
  /* Vertically align items */
  margin-top: 0.5rem;
  /* Reduced spacing from subtitle */
}

.language-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.language-label {
  margin-right: 0.3rem;
  /* Reduced space between label and select box */
}

.language-selector {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 0.2rem;
  /* Reduced padding inside dropdown */
}