/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dim background */
  backdrop-filter: blur(8px); /* Add blur effect */ 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: #b4d0ec;
  border-radius: 10px;
  padding: 20px;
  width: 90%; /* Mobile-friendly width */
  max-width: 400px; /* For larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Close Button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Modal Title */
.modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Modal Body */
.modal-body {
  font-size: 1rem;
  text-align: left;
  flex-grow: 1; 
}

/* Random game modal styles */
.random-game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.random-game-options .language-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.language-buttons button {
  background-color: #1586dd;
  color: white;
  padding: 0.75rem 1.5rem;
  border: solid;
  border-radius: 40px;
  border-color: #061f32;
  font-size: 1rem;
  cursor: pointer;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.language-buttons button:hover {
  background-color: #4145b0;
}
