  .star-rating-container {
    text-align: center;
    margin-top: 0px;
  }
  
  /* Average rating text */
  .star-rating-container .average-rating-text {
    margin: 0.5rem;
    font-size: 1rem;
    color: #555;
  }
  
  /* "Rate This Game" label */
  .star-rating-container .rate-this-game-label {
    margin: 0.1rem;
    margin-bottom: 0rem;
    font-size: 12px;
    font-style: italic;
    color: #555;
  }
  
  /* Container for the stars */
  .star-rating {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  /* Base star styling */
  .star {
    cursor: pointer;
    font-size: 2.5rem;
    color: #ccc; /* default grey */
    transition: color 0.2s ease;
  }
  
  /* Hover color */
  .star.hovered {
    color: #ff90c2;
  }
  
  /* Selected color */
  .star.selected {
    color: #ffc107;
  }
  