  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Add some spacing above the pagination */
  }

  .game-archive {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .game-archive .spinner {
    margin-top: 16px;
    text-align: center;
  }
  